{% extends "base.html" %}

{% load static %}
{% load listing_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var min_max_prices_json = {% print_listing_min_max_prices_json %};
</script>
{% endblock %}

{% block content %}
    {% get_listing_categories as categories %}
    {% get_listing_cities as cities %}

    {% include 'listing/partials/search_header.html' %}

    <!-- begin:content -->
    <div id="content">
        <div class="container">
            <div class="row">
                <!-- begin:article -->
                <div class="col-md-9 col-md-push-3">
                    <div class="row">
                        <div class="col-md-12 single-post">
                            <ul id="myTab" class="nav nav-tabs nav-justified">
                                <li class="active"><a href="#detail" data-toggle="tab"><i class="fa fa-university"></i> Detalhes do imóvel</a></li>
                                <li><a href="#location" data-toggle="tab"><i class="fa fa-paper-plane-o"></i> Localização</a></li>
                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="detail">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>{{ self }}</h2>
                                            {% with images=self.images.all %}
                                                {% if images %}
                                                    <div id="slider-property" class="carousel slide" data-ride="carousel">
                                                        <ol class="carousel-indicators">
                                                            {% for image in images %}
                                                                <li data-target="#slider-property" data-slide-to="{{ forloop.count0 }}" class="{% if forloop.first %}active{% endif %}">
                                                                    {% image image.image xfill-640x425 as img %}
                                                                    <img src="{{ img.url }}" alt="{{ listing }}">
                                                                </li>
                                                            {% endfor %}
                                                        </ol>
                                                        <div class="carousel-inner">
                                                            {% for image in images %}
                                                                <div class="item{% if forloop.first %} active{% endif %}">
                                                                    {% image image.image xfill-640x425 as img %}
                                                                    <img src="{{ img.url }}" alt="{{ listing }}">
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <a class="left carousel-control" href="#slider-property" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                                        </a>
                                                        <a class="right carousel-control" href="#slider-property" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% endwith %}
                                            <h3>Informações</h3>
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td width="20%"><strong>Referência</strong></td>
                                                    <td>{{ self.reference }}</td>
                                                </tr>
                                                {% if self.listing_type.rent %}
                                                <tr>
                                                    <td><strong>Valor para locação</strong></td>
                                                    <td>{{ self.rent_price_display }}/mês</td>
                                                </tr>
                                                {% endif %}
                                                {% if self.listing_type.sell %}
                                                <tr>
                                                    <td><strong>Valor para venda</strong></td>
                                                    <td>{{ self.sell_price_display }}</td>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                    <td><strong>Tipo</strong></td>
                                                    <td>{{ self.get_parent }}</td>
                                                </tr>
                                                {% if self.neighbourhood %}
                                                <tr>
                                                    <td><strong>Bairro</strong></td>
                                                    <td>{{ self.neighbourhood }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if self.condominium %}
                                                <tr>
                                                    <td><strong>Condomínio</strong></td>
                                                    <td>{{ self.condominium }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if self.bedrooms %}
                                                <tr>
                                                    <td><strong>Quartos</strong></td>
                                                    <td>{{ self.bedrooms }}</td>
                                                </tr>
                                                {% endif %}
                                                {% if self.size_of_living_space %}
                                                <tr>
                                                    <td><strong>Área construída</strong></td>
                                                    <td>{{ self.size_of_living_space }}m<sup>2</sup> </td>
                                                </tr>
                                                {% endif %}
                                                {% if self.size_of_land %}
                                                <tr>
                                                    <td><strong>Terreno</strong></td>
                                                    <td>{{ self.size_of_land }}m<sup>2</sup> </td>
                                                </tr>
                                                {% endif %}
                                            </table>

                                            {% with amenities=self.get_full_amenities_list %}
                                                {% if amenities %}
                                                    <h3>Características</h3>
                                                    <div class="row three-col">
                                                        <ul class="amenities">
                                                            {% for amenity, check in amenities %}
                                                                {% if check %}
                                                                    <li><i class="fa fa-check"></i> <b>{{ amenity }}</b></li>
                                                                {% else %}
                                                                    <li style="color:#ccc"><i class="fa fa-times"></i> {{ amenity }}</li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            {% endwith %}

                                            {% if self.raw_details %}
                                                <h3>Descrição</h3>
                                                {{ self.details|safe|linebreaks }}
                                            {% endif %}
                                        </div>
                                    </div>


                                </div>
                                <!-- break -->

                                {% if self.location %}
                                <div class="tab-pane fade" id="location">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="map-property" data-lat="{{ self.location.y|safe }}" data-lng="{{ self.location.x|safe }}"></div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="tab-pane fade disabled">
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:article -->

                <!-- begin:sidebar -->
                <div class="col-md-3 col-md-pull-9 sidebar">
                    {% comment %}
                    <div class="widget-white favorite">
                        <a href="#"><i class="fa fa-heart"></i> Add to favorite</a>
                    </div>
                    <!-- break -->
                    {% endcomment %}
                    <h4>Imóveis similares</h4>
                    <p class="small">Imóveis próximos e com características similares, como tipo, cidade, negócio e valores:</p>
                    {% include 'listing/partials/sidebar.html' %}
                </div>
                <!-- end:sidebar -->

            </div>
        </div>
    </div>
    <!-- end:content -->
{% endblock content %}
