.categories label {
    width: 200px;
    padding: 10px 0;
}

.amenities {
    ul li {
        float: left;
        width: 33.3%;
    }
    ul li ul li {
        float: none;
        margin-left: 20px;
    }
}

.map-widget {
    label { display: none; }

    > div { width: 100% !important; }
}
